body {
  background-color: #fefdfe;
}

#projects {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: fit-content;
}

#line {
  width: 100%;
  height: 2px;
  color: red;
  background-color: red;
  margin-top: -15px;
  margin-bottom: 40px;
}

#projectsContainer {
  display: flex;
  justify-content: center;
}
